* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
    background-image: radial-gradient(white, 1px, transparent 1px);
    background-size: 3px 3px;
    margin: 0;
    padding: 0;
    font-family: "Jersey 10", monospace;
    height: 100%;
    width: 100%;
}

.top-nav {
    background-color: white;
    border-bottom: 2px solid black;
    width: 100%;
    padding: 0px;
    margin: 0px;
    position: fixed;
    display: flex;
    align-items: center;
    height: 40px;
}

.top-nav a {
    font-size: 20px;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    color: black;
}

.top-nav a:hover {
    cursor: pointer;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.nav-item {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-right: 2px solid black;
}

.nav-item:last-child {
    border-right: none;
}

.nav-item img {
    max-height: 30px;
    object-fit: contain;
}


.clock {
    margin-left: auto;
    padding: 0 15px;
    font-size: 20px;
    white-space: nowrap;
    color: black;
}

.nav-item:first-child {
    background-color: black;
}

.start-button {
    background-color: black;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-button a {
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-button p {
    margin: 0;
    font-weight: bold;
}



.pear-icon {
    height: 28px;
    margin-bottom: -6px;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    min-width: 80px;
    width: fit-content;
}

.icon img {
    width: 80px;
    background-color: white;
}

.icon a {
    font-size: 20px;
    background-color: white;
    margin-top: 5px;
    text-decoration: none;
    color: black;
}

.potluck-icon {
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: -1;
}


.gridchat-icon {
    position: absolute;
    top: 20%;
    left: 40%;
    z-index: -1;
}

.eye2eye-icon {
    position: absolute;
    top: 44%;
    left: 6%;
    z-index: -1;
}

.honors-icon {
    position: absolute;
    top: 34%;
    left: 16%;
    z-index: -1;
}

.deepquestion-icon {
    position: absolute;
    top: 70%;
    left: 30%;
    z-index: -1;
}

.deepquestion-icon .icon img {
    height: 80px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.weatherballoon-icon .icon img {
    max-height: 80px;
    height: auto;
    width: auto;
}

.weatherballoon-icon {
    position: absolute;
    top: 50%;
    left: 70%;
    z-index: -1;
}

.quickbuck-icon img {
    padding: 5px
}

.quickbuck-icon {
    position: absolute;
    top: 10%;
    left: 80%;
    z-index: -1;
}

.behaviorchart-icon {
    position: absolute;
    top: 65%;
    left: 50%;
    z-index: -1;
}

.behaviorchart-icon {
    position: absolute;
    top: 65%;
    left: 50%;
    z-index: -1;
}

.trash-icon {
    position: absolute;
    bottom: 60px;
    right: 10px;
    z-index: -1;
}


#resumeModal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}


#resumeModal .modal-content {
    position: relative;
    width: 80%;
    height: 80%;
    max-width: 900px;
    background: white;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

#resumeModal .close-btn {
    align-self: flex-end;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background: black;
    color: white;
}

#resumeModal iframe {
    flex-grow: 1;
    border: none;
    width: 100%;
    height: 100%;
}

#potluckModal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#potluckModal .modal-content {
    position: relative;
    width: 90%;
    height: auto;
    max-width: 600px;
    max-height: 80vh; 
    min-height: 200px; 
    background: white;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    overflow-y: auto; 
    padding: 20px;
    box-sizing: border-box; 
}

.modal-content h1 {
    font-size: 54px;
    margin-bottom: 20px;
    text-align: center;
}

.potluck-img-text img {
    float: left;
    max-width: 200px;
    height: auto;
    margin: 0 20px 20px 0;
}

.potluck-img-text {
    line-height: 1.6;
    font-size: 20px;
}


#potluckModal p strong {
    font-weight: bold;
}

#potluckModal p u {
    text-decoration: underline;
}


#potluckModal .close-btn {
    align-self: flex-end;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background: black;
    color: white;
    margin-right: -20px;
    margin-top: -20px;
}

.behaviorchart-icon {
    position: absolute;
    top: 65%;
    left: 50%;
    z-index: -1;
}

#behaviorchartModal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#behaviorchartModal .modal-content {
    position: relative;
    width: 90%;
    height: auto;
    max-width: 600px;
    max-height: 80vh;
    min-height: 200px;
    background: white;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
}

#behaviorchartModal .close-btn {
    align-self: flex-end;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background: black;
    color: white;
    margin-right: -20px;
    margin-top: -20px;
}

.trash-icon {
    position: absolute;
    bottom: 60px;
    right: 10px;
    z-index: -1;
}

#trashModal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#trashModal .modal-content {
    position: relative;
    width: 90%;
    height: auto;
    max-width: 600px;
    max-height: 80vh;
    min-height: 400px;
    background: white;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
}

#trashModal .close-btn {
    align-self: flex-end;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background: black;
    color: white;
    margin-right: -20px;
    margin-top: -20px;
}

.indented {
    text-indent: 2em;
}

.modal-link {
    background-color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.modal-link a {
    text-decoration: none;
    color: white;
}

#gridchatModal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#gridchatModal .modal-content {
    position: relative;
    width: 90%;
    height: auto;
    max-width: 600px;
    max-height: 80vh; 
    min-height: 200px; 
    background: white;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box; 
}

#gridchatModal .close-btn {
    align-self: flex-end;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background: black;
    color: white;
    margin-right: -20px;
    margin-top: -20px;
}


#quickbuckModal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#quickbuckModal .modal-content {
    position: relative;
    width: 90%;
    height: auto;
    max-width: 600px;
    max-height: 80vh;
    min-height: 200px; 
    background: white;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    overflow-y: auto; 
    padding: 20px;
    box-sizing: border-box; 
}

#quickbuckModal .close-btn {
    align-self: flex-end;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background: black;
    color: white;
    margin-right: -20px;
    margin-top: -20px;
}


#deepquestionModal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#deepquestionModal .modal-content {
    position: relative;
    width: 90%;
    height: auto;
    max-width: 600px;
    max-height: 80vh; 
    min-height: 200px; 
    background: white;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    overflow-y: auto; 
    padding: 20px;
    box-sizing: border-box;
}

#deepquestionModal .close-btn {
    align-self: flex-end;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background: black;
    color: white;
    margin-right: -20px;
    margin-top: -20px;
}


#weatherModal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#weatherModal .modal-content {
    position: relative;
    width: 90%;
    height: auto;
    max-width: 600px;
    max-height: 80vh; 
    min-height: 200px; 
    background: white;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    overflow-y: auto; 
    padding: 20px;
    box-sizing: border-box; 
}

#weatherModal .close-btn {
    align-self: flex-end;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background: black;
    color: white;
    margin-right: -20px;
    margin-top: -20px;
}


#eyeModal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#eyeModal .modal-content {
    position: relative;
    width: 90%;
    height: auto;
    max-width: 600px;
    max-height: 80vh;
    min-height: 200px; 
    background: white;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
}

#eyeModal .close-btn {
    align-self: flex-end;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background: black;
    color: white;
    margin-right: -20px;
    margin-top: -20px;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 99999999;
}

.dropbtn {
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.dropdown-content {
    margin-top: 8px;
    display: none;
    position: absolute;
    background-color: white;
    border: 2px solid black;
    min-width: 160px;
    z-index: 99999999;
}

.dropdown-content a {
    padding: 10px;
    text-decoration: none;
    display: block;
    color: black;
}

.dropdown-content a:hover {
    background-color: #f0f0f0;
}

#loadingModal {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

h2 {
    font-size: 2em;
    letter-spacing: 2px;
    color: white;
}

.pixel-bar {
    display: flex;
    gap: 4px;
}

.pixel {
    width: 20px;
    height: 20px;
    background-color: #111;
    border: 2px solid white;
    transition: background 0.3s;
}

.pixel.filled {
    background-color: white;
}

@media screen and (max-width: 768px) {
    .start-button p {
        display: none;
    }

    .pixel-bar {
        display: flex;
        gap: 4px;
    }
    
    .pixel {
        width: 10px;
        height: 10px;
        background-color: #111;
        border: 2px solid white;
        transition: background 0.3s;
    }
    
    .pixel.filled {
        background-color: white;
    }

    #resumeModal .modal-content,
    #deepquestionModal .modal-content,
    #weatherModal .modal-content,
    #eyeModal .modal-content,
    #quickbuckModal .modal-content,
    #gridchatModal .modal-content,
    #potluckModal .modal-content,
    #behaviorchartModal .modal-content,
    #trashModal .modal-content {
        position: relative;
        width: 100%;
        min-height: calc(100% - 90px);
        max-height: calc(100% - 90px);
        max-width: 100%;
        background: white;
        display: flex;
        flex-direction: column;
        border: 2px solid black;
        overflow-y: auto;
        padding: 20px;
        margin-top: -10px
    }
}
